* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}
body {
    color: #464646;
    font-family:candara,sans-serif;
    background:#f4f7f6;

}

header {
	background: black;
	height: 90px;
	font-size: 20px;

    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:px 20px;
    
    z-index:10;
   
}

.logo {
    padding:0 50px;
        position: relative;
        font-size:1.5em;
        color:#fff;
        text-decoration: none;
        font-weight: 600;
   
}

.ul {

	text-align: right;
    padding:0 50px;
   
}
.ul li {
	display: inline-block;
	list-style: none;
	margin: 0 25px;
}
.ul li a{
	text-decoration: none;
	color:white;
    text-transform: uppercase;
    float:right;
}
.ul a:hover{
	color:#cbcbe3;
}



.body h1{
    line-height: 150px;
    text-align: center;
    font-size: 2.1428571429rem;
    font-weight: 700;

}
.p1 {
    line-height: 1.8;
    top: 0;
    left:0;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.2rem;

}
.htd {
   
    
    
    /* margin-left:50px; */
    max-width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}
.qkd {
    
    width: 100%;
  height: auto;
    
    /* margin-left:50px; */
    max-width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
 
}
.htht {
    
    
    /* margin-left:50px; */
    max-width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}
.qkht {
    
    
    /* margin-left:50px; */
    max-width: 400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}
.htdtittle{
    
    color: #686868;
    font-size: 13px;
    
    line-height: 1.6153846154;
    padding:0 530px;
}
.qkdtittle {
    color: #686868;
    font-size: 13px;
    
    line-height: 1.6153846154;
    padding:0 530px;
}
.hthttittle {
    color: #686868;
    font-size: 13px;
    
    line-height: 1.6153846154;
    padding:0 530px;
}
.qkhttittle {
    color: #686868;
    font-size: 13px;
    
    line-height: 1.6153846154;
    padding:0 530px;
}

.sidebar {
    background: yellow;
    top:0;
    left: 0;
    width: 100px;
    height: 100%;
    position: fixed;
    z-index: 1;
    display:none;
    
}

html {
    scroll-behavior: smooth;
}

footer {
    margin: 40px;
    
}
.information ul  {
    line-height: 2.5;
}
.information li{
    list-style: none;
    font-size: 15px;
    margin-left:150px;
    
}

.contact  li {
   
   display:inline-block;

}
.contact a{
     color: black;
     margin:5px;
     font-size: 20px;
     
}
.contact a i {
    width:45px;
}

#address{
    font-size: 17px;
}

.contact {
    float:right;
    
}
h5 {
    text-align: center;
}
/* others  */
.list li{
    
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.list a {
    text-decoration: none;
    
    color:black;
    font-size:25px;
}

@media (max-width:982px ){
  
    header { 
        display:flex;
        flex-direction: column;
     
    }
    header ul {
        padding: 10px;
        display:flex;
        text-align: center;
    }
    p{
        justify-content:space-between;
        align-items: center;
        
    }
    .htd { 
        justify-content:center;
        align-items:center;
        display:flex;
    }
    .information { 
         padding:0 0 100px;
         display:flex;
         align-items: center;
         justify-content: center;
         float:none;
    }
    .contact { 
        justify-content:center;
        display:flex;
        align-items: center;
        float:none;
        padding:0 0px 0px 50px;
    }
    .body h1 { 
        padding:25px;
        line-height:normal;
    }
    .p1 { 
        margin-left:20px;
    margin-right: 20px;
    }
    footer { 
        margin:0;
    }
    .information ul li { 
        line-height: 1.5;
        justify-content:center;
        display:block;
        align-items: center;
       padding:10px 100px 0 0;
    }
}

